.pl-8{
    padding-left: 16px !important;
}

.mw-250 {
    max-width: 250px !important;
}

.bgc {
    background-color: #333 !important;
}

.bgc a, .bgc button {
    color: #fff !important;
    font-size: 14px !important;
}

.btnfocus:focus, .btnfocus:hover, .btnfocus:active {
    border-color: transparent !important;
}