* {
    box-sizing: border-box !important;
}

body {
    margin: 0;
}

a {
    text-decoration: none !important;
}

.d-f {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.pl-8 {
    padding-left: 16px !important;
}

.mw-250 {
    -ms-flex: 0 0 13.020833333% !important;
    flex: 0 0 13.020833333% !important;
    width: 13.020833333% !important;
    height: 100vh !important;
    background-color: #fb404b !important;
    position: fixed;
}

.mw-750 {
    -ms-flex: 0 0 86.97916666% !important;
    flex: 0 0 86.97916666% !important;
    width: 86.97916666% !important;
    padding: 0 0 0 15px !important;
    margin-left: 13.020833333% !important;
}

.iconsvg {
    width: 35px !important;
    border: 0 !important;
    vertical-align: middle;
}

.bgct {
    background-color: transparent !important;
    border-bottom-color: transparent !important;
    border-top-color: transparent !important;
}

.bgct > div {
    border-bottom: 0 !important;
    background-color: transparent !important;
}

.bgct a,
.bgct p,
.bgct svg {
    color: #fff !important;
}

.bgc {
    background-color: #333 !important;
}

.bgc a,
.bgc button {
    color: #fff !important;
    font-size: 14px !important;
}

.cursor-p {
    cursor: pointer !important;
}